/*
  Style sheet for Project 5: Neighborhood Map
  Leon Tabak
  07 September 2015
*/


/*
Specify the color between and around the elements of the application.
*/
body {
  opacity: 1.0;
  background: #CCFFEE !important;
}

/* Specify the color of text on the page. */
label {
  color: #6622AA;
}

.container-fluid h2 {
  color: #6622AA;
}

/*
Specify the styling of that part of the application
in which user enters an interval (a range of years).
*/
#searchBox {
  background: rgba( 248, 222, 255, 0.8 );
  width: 80%;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 40px;
  margin-bottom: 24px;
  padding: 12px;
  border: solid;
  border-color: #AA44EE;
  border-radius: 20px;
}


/*
Specify the separation of the list of names of
accomplished Iowans and the map that shows their
places of birth from other elements of the application.
#listAndMap {
  margin-top: 12px;
  margin-bottom: 40px;
}

/*
Specify colors and dimensions of the element of
the application that contains buttons with the
names of accomplished Iowans.
*/
#listOfBirthplaces {
  background: rgba( 248, 222, 255, 0.8 );
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 48px;
  border: solid;
  border-color: #AA44EE;
  border-radius: 20px;
}

#listOfBirthplaces h2 {
  padding: 8px;
}

/*
Specify spacing and typeface for buttons that
bear the names of accomplished Iowans.
*/
#origins {
  margin-bottom: 0px;
  /*padding: -8px;*/
}

/*
Specify the color, dimensions, and spacing
of the element of the application that contains
the map.
*/
#mapOfBirthplaces {
  width: 560px;
  margin-left: 12px;
  padding: 12px;
  background: #EEDDFF;
  float: left;
  border: solid;
  border-color: #AA44EE;
  border-radius: 20px;
}

#bigMap {
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
}



